{{#each post}}
     <div class="row">
        <div class="col-md-11 card">
            <div class="row">
                 <div class="post-image">
                  <img src="../images/portfolio-2.jpg" class="img-responsive" alt="Avatar">
                </div>
                 <div class="col-md-8 post-description">
                     <div class="row">
                         <div class="titlebox">
                    <p class="title" data-toggle="tooltip" title="{{this.title}}">{{this.title}}</p>
                             </div>
                         <div data-id="{{this._id}}" class="editbox">
                     <span class="glyphicon glyphicon glyphicon-edit hidden editPostIcon" aria-hidden="true"></span>
                         </div>
                         </div>
                    <p  class="description" data-toggle="tooltip" title="{{this.description}}">{{this.description}}</p> 
                     <div class="post-like">
                         <ul class="comments list-unstyled">
                             <li class="likes-count">Likes: {{this.likeCount}}</li>
                             <li>&nbsp;|&nbsp;</li>
                             <li class="comments-count">Comments: {{this.commentCount}}</li>
                        </ul>
                    </div>
                     <div>
                         <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
                     </div>
                </div>
                </div>
                <div style="clear: both;"></div>
            </div>   
        </div>
{{/each}}